body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}
section header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}
section header ul {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section header ul li {
  list-style: none;
  margin-left: 20px;
}
section header ul li a {
  text-decoration: none;
  color: black;
}
section header ul li button {
  background-color: #4584ef;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  font-weight: bold;
}

/* Main */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
}
.main .searchBox {
  position: relative;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.main .searchBox .search {
  padding: 15px 30px;
  border-radius: 30px;
  width: 100%;
  border: 1px solid #ccc;
}

.main .searchBox .icons {
  position: absolute;
  top: 0;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.main .buttons {
  margin-top: 20px;
}
.main .buttons button {
  margin-left: 20px;
  border: none;
  padding: 12px 20px;
  border-radius: 3px;
  color: #555;
  border: none;
  cursor: pointer;
}

/* Footer */
.footer {
  background: #f2f2f2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer .row {
  display: flex;
  justify-content: space-between;
}
section .footer .row ul {
  display: flex;
}
.footer .row ul li {
  list-style: none;
}
.footer .row ul li a {
  text-decoration: none;
  color: #5f6368;
  font-size: 14px;
  margin-right: 25px;
}

/* Mobile-View */
@media (max-width: 768px) {
  .main .searchBox .search {
    width: 70%;
  }
  .main .searchBox .icons {
    width: 75%;
  }
  section .footer .row ul {
    display: block;
  }
}
/*Tablet View*/
@media (min-width: 769px) and (max-width: 1023px) {
  section header ul li button {
    background-color: tomato;
  }
}
